{% if site.data.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>{{ site.data.data.projects.title }}</h2>

  {% if site.data.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.data.projects.projects %}
    <div class="item">

      <div class="upper-row">
        <h3 class="project-title">{{ project.title }}</h3>
        <div class="time">{{ project.time }}</div>
      </div><!--//upper-row-->

      {% if project.advisor %}
      - <span class="project-tagline">{{ project.advisor }}</span>
      {% endif %}

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
