{% if site.data.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i> Projects Supervised </h2>

  {% if site.data.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.data.projects.projects %}
    {% if project.titlesp %}
      <div class="item">
        <div class="publication-title">{{ project.titlesp}}</div>
      </div><!--//item-->
    {% endif %}
  {% endfor %}

</section><!--//section-->
{% endif %}
