{% if site.data.data.sidebar.teaching %}
<div class="languages-container container-block">

  <h2 class="container-block-title">Teaching Activities</h2>
    <h3 class="container-block-title">ETH Zurich</h3>
    <ul class="list-unstyled interests-list">
      {%for teaching in site.data.data.sidebar.teaching %}
      <li>{{ teaching.course }} <span class="lang-desc">({{ teaching.year }})</span></li>
      {% endfor %}
    </ul>

    <h3 class="container-block-title">ETH Zurich</h3>
    <ul class="list-unstyled interests-list">
      {%for teaching_iiitd in site.data.data.sidebar.teaching %}
      <li>{{ teaching_iiitd.course }} <span class="lang-desc">({{ teaching_iiitd.year }})</span></li>
      {% endfor %}
    </ul>

</div><!--//interests-->
{% endif %}